@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #4a7750;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-size: 600;
    box-shadow: 100px #dac0a4;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button {
    position: relative; 
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 300px;
    height: 300px;
}

.button img {
    width: 100%;
    height: 100%;
    display: block;
}

.button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 0 0 5px black;
}